; This is the default configuration file for Cake.
; This file was downloaded from https://github.com/cake-build/resources

[Nuget]
Source=http://miaprodtfs01:8081/repository/nuget-group/

[Roslyn]
NuGetSource=http://miaprodtfs01:8081/repository/nuget-group/

[Paths]
Tools=./tools
Addins=./tools/Addins
Modules=./tools/Modules
